aiofiles==23.2.1
anyio==4.0.0
app==0.0.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
asttokens==2.4.1
async-lru==2.0.4
attrs==23.1.0
Babel==2.13.1
beautifulsoup4==4.12.2
bleach==6.1.0
blinker==1.7.0
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
ci-info==0.3.0
click==8.1.7
colorama==0.4.6
colorlog==6.8.0
comm==0.2.0
configobj==5.0.8
configparser==6.0.0
crispy-bootstrap4==2024.1
cryptography==42.0.7
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.7
Django==4.2.2
django-crispy-forms==2.1
django-extensions==3.2.3
etelemetry==0.3.1
executing==2.0.1
fastjsonschema==2.18.1
filelock==3.12.2
Flask==3.0.0
Flask-Cors==4.0.0
Flask-MySQL==1.5.2
Flask-MySQLdb==2.0.0
fqdn==1.5.1
frontend==0.0.3
future==0.18.3
h11==0.14.0
httplib2==0.22.0
httptools==0.6.1
idna==3.4
ipykernel==6.26.0
ipython==8.17.2
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
json5==0.9.14
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
jupyter-events==0.9.0
jupyter-lsp==2.2.0
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyter_server==2.10.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.8
jupyterlab-pygments==0.2.2
jupyterlab_server==2.25.1
looseversion==1.3.0
lxml==4.9.3
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
mistune==3.0.2
mypy-extensions==1.0.0
mysqlclient==2.2.4
nbclient==0.9.0
nbconvert==7.11.0
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.2.1
nibabel==5.1.0
nipype==1.8.6
notebook_shim==0.2.3
numpy==1.26.1
oracledb==2.2.0
overrides==7.4.0
packaging==23.2
pandas==2.1.2
pandocfilters==1.5.0
parso==0.8.3
pathlib==1.0.1
Pillow==10.1.0
platformdirs==3.11.0
prometheus-client==0.18.0
prompt-toolkit==3.0.39
prov==2.0.0
psutil==5.9.6
pure-eval==0.2.2
pycparser==2.21
pydot==1.4.2
pydotplus==2.0.2
Pygments==2.16.1
PyMuPDF==1.23.6
PyMuPDFb==1.23.6
PyMySQL==1.1.1
pyparsing==3.1.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
pytz==2023.3.post1
pywin32==306
pywinpty==2.0.12
pyxnat==1.6
PyYAML==6.0.1
pyzmq==25.1.1
rdflib==7.0.0
reactpy==1.0.2
referencing==0.30.2
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.12.0
scipy==1.11.3
Send2Trash==1.8.2
simplejson==3.19.2
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
sqlparse==0.4.4
stack-data==0.6.3
starlette==0.32.0.post1
terminado==0.17.1
tinycss2==1.2.1
tornado==6.3.3
traitlets==5.13.0
traits==6.3.2
types-python-dateutil==2.8.19.14
typing_extensions==4.9.0
tzdata==2023.3
uri-template==1.3.0
urllib3==2.0.7
uvicorn==0.24.0.post1
virtualenv==20.26.2
watchfiles==0.21.0
wcwidth==0.2.9
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
websockets==12.0
Werkzeug==3.0.1
